<ion-header>
  <ion-toolbar>
    <ion-buttons slot="new-rental">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>New Rentals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <h1>Create a new rental!</h1>
  <ion-input placeholder="Country/Region"></ion-input>
  <ion-input placeholder="Street Address"></ion-input>
  <ion-input placeholder="Apt, Suite. (optional)"></ion-input>
  <ion-input placeholder="City"></ion-input>
  <ion-input placeholder="State"></ion-input>
  <ion-input placeholder="Zip Code"></ion-input>
  <ion-button (click)="navToExisingRentals()" color="danger">Create</ion-button>
</div>

<div>
  <ion-list>
 <ion-button (click)="navToExisingRentals()" fill="outline" size="small">Existing Rentals</ion-button>
 <ion-button (click)="navToNewRental()" fill="outline" size="small">New Rentals</ion-button>
 <ion-button (click)="navToRentalDetails()" fill="outline" size="small">Rental Details</ion-button>
 <ion-button (click)="navToUpdateRental()" fill="outline" size="small">Update Rental</ion-button>
 </ion-list>
 </div>

</ion-content>
