<ion-header>
  <ion-toolbar>
    <ion-buttons slot="existing-rentals">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Existing Rentals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <ion-list>
    <p>You currently do not have any existing rentals.</p>
    <ion-button (click)="navToNewRental()" color="danger">Add a rental</ion-button>
  </ion-list>
</div>

<div>
 <ion-list>
<ion-button (click)="navToExisingRentals()" fill="outline" size="large"><ion-icon name="search"></ion-icon></ion-button>
<ion-button (click)="navToNewRentals()" fill="outline" size="large"><ion-icon name="heart-empty"></ion-icon></ion-button>
<ion-button (click)="navToRentalDetails()" fill="outline" size="large"><ion-icon name="home"></ion-icon></ion-button>
<ion-button (click)="navToUpdateRentals()" fill="outline" size="large"><ion-icon name="chatbubbles"></ion-icon></ion-button>
</ion-list>
</div>
